<p id="notice"><%= notice %></p>

<p>
  <strong>Preferences:</strong>
  <%= @preferences_user.preferences_id %>
</p>

<p>
  <strong>Users:</strong>
  <%= @preferences_user.users_id %>
</p>

<p>
  <strong>Options:</strong>
  <%= @preferences_user.options %>
</p>

<%= link_to 'Edit', edit_preferences_user_path(@preferences_user) %> |
<%= link_to 'Back', preferences_users_path %>
