<% if current_user %>
	Logged in as <%= current_user.email %> 
	<%= link_to "Log Out", logout_path %>
	<%= link_to "Chat", chat_path %>
	<%= link_to "Preferences", "preferences/new" %>
<% else %>
	<%= link_to "Sign Up", signup_path %> or
	<%= link_to "Log In", login_path %>
<% end %>


<p id="notice"><%= notice %></p>

<h1>Hello, world!</h1>
<p>
 'Ahora' é agora: <%= Time.now %>
</p>
