<img src="/logo.png" height="400px">

<p id="notice"><%= notice %></p>
<% if current_user %>
	<h2> Welcome back </h2>
	<button><%= link_to "Vamos começar", "preferences/new",  :style=>'color: #241B36; text-decoration: none' %></button> </br>
	<button><%= link_to "Log Out", logout_path,  :style=>'color: #241B36; text-decoration: none' %></button>
	
<% else %>
	<h2> Bem-vinde<h2>
	<button><%= link_to "Sign Up", signup_path, :style=>'color: #241B36; text-decoration: none' %></button> ou
	<button><%= link_to "Log In", login_path, :style=>'color: #241B36; text-decoration: none' %></button>
<% end %>

