<%= form_with url: match_path, method: :get do  %>
  <% if preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
        <% preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :gender, 'Gênero' %>
    <%= text_field_tag :gender %>
  </div>

  <div class="field">
  <%= label_tag :min_age, 'Idade Mínima' %>
  <%= text_field_tag :min_age %>
  </div>

  <div class="field">
    <%= label_tag :max_age, 'Idade Máxima' %>
    <%= text_field_tag :max_age %>
  </div>

  <div class="actions">
    <%= submit_tag 'Conversar' %>
  </div>
<% end %>
