<%= form_with(model: preference, local: true) do |form| %>
  <% if preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
        <% preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :min_age %>
    <%= form.text_field :min_age %>
  </div>

  <div class="field">
    <%= form.label :max_age %>
    <%= form.text_field :max_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
