<p id="notice"><%= notice %></p>
<br>
<h1>Selecione suas preferências para uma conversa :</h1>

<h2> Gênero:</h2>
<div> 
  <label for="masculino"> Masculino </label>
  <input type = "checkbox" name =" masculino">
</div>

<div>
  <label for="feminino"> Feminino </label>
  <input type = "checkbox" name ="feminino">
</div>

<div>
  <label for="não-binário">Não-Binário</label>
  <input type = "checkbox" name ="não-binário">
</div>
<h2>Faixa de Idade : </h2>
<form action="" method="post" name="edit" oninput="age_output.value=parseInt(age.value);">
    <h4>Entre 18 e 
    <output name="age_output" for="start" ></output> </h4>

    18<input type="range" id="start" name="age" min="18" max="60" />60
</form>
<br>
<button>Conversar!</button>
<!--
<table>
  <tbody>
    <% @preferences.each do |preference| %>
      <tr>
        <td><%= preference.name %></td>
        <td><%= link_to 'Show', preference %></td>
        <td><%= link_to 'Edit', edit_preference_path(preference) %></td>
        <td><%= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preference', new_preference_path %>
-->
<br>